<div class="text-center text-primary">
	<h1>Hi</h1>
</div>
<div class="">
	<div class="row">
		<div class="col">
			<div class="datatable mt-4">
				<table class="table datatable-table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col" sortable="name">Number</th>
							<th scope="col" sortable="area">Status</th>
							<th scope="col" sortable="population">Messages</th>
						</tr>
					</thead>
					<tbody>
						@for(item of data; track item.id; let i = $index) {
						<tr>
							<td>{{ i + 1 }}</td>
							<td>{{ item.number}}</td>
							@if (item.status === 'inactive'){
							<td>Inactive</td>
							} @else if (item.status === 'active') {
							<td>Active</td>
							}
							<td>{{ item.messages }}</td>
						</tr>
						} @empty {
						<tr>
							<td class="text-center">...Empty list of phone numbers...</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>