<div class="text-center text-primary">
	<h1>Hi</h1>
</div>
<div class="container-fluid">
	<div class="row m-2">
		<div class="col-4 col-md-8 col-lg-12">
			<div ngbDropdown>
				<button class="btn btn-primary" id="gfg" ngbDropdownToggle>Sorting Status By
					@if(sorting.order === 'asc'){
					<span> Ascending Order</span>
					} @else {
					<span> Descending Order</span>
					}
				</button>
				<div ngbDropdownMenu="gfg">
					<button class="btn btn-danger" ngbDropdownItem (click)="sortClick('Status', 'asc')">Ascending</button>
					<button class="btn btn-warning" ngbDropdownItem (click)="sortClick('Status', 'desc')">Descending</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped table-dark table-responsive">
				<thead>
					<tr>
						@for (column of displayedColumns; track $index){
						<th>
							{{ column }}
							@if (column === 'Status' && !isDesc(column)){
							<span><i class="bi bi-arrow-up"></i></span>
							} @else if (column === 'Status' && isDesc(column)) {
							<span><i class="bi bi-arrow-down"></i></span>
							}
						</th>
						}
					</tr>
				</thead>
				<tbody>
					@for(item of data; track item.id; let i = $index) {
					<tr>
						<td>{{ i + 1 }}</td>
						<td>{{ item.number}}</td>
						@if (item.status === 'inactive'){
						<td>Inactive</td>
						} @else if (item.status === 'active') {
						<td>Active</td>
						}
						<td>{{ item.messages }}</td>
					</tr>
					} @empty {
					<tr>
						<td class="text-center">...Empty list of phone numbers...</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>